.modal-overlay {
  --modal-overlay-bg: rgba(0, 0, 0, 0.2);
  --modal-bg-color: #fff;
  --modal-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  --modal-width: 55%;
  --modal-max-width: 75rem;
  --modal-min-height: 40rem;
  --modal-padding: 1rem;
  --modal-border-radius: 20px;
  --transition-duration: 0.5s;
  --transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  --close-modal-position-top: 5px;
  --close-modal-position-right: 15px;
  --close-modal-opacity: 0;
  --close-modal-transition-delay: 0.2s;
  --modal-active-scale: 1;
  --modal-inactive-scale: 1.2;
  --modal-content-opacity: 0;
  --close-modal-transform: translateY(10px);
  --payment-modal-width: ;

  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: var(--modal-overlay-bg);
  opacity: 0;
  visibility: hidden;
  backface-visibility: hidden;
  transition: opacity var(--transition-duration)
      var(--transition-timing-function),
    visibility var(--transition-duration) var(--transition-timing-function),
    z-index 0.5s;
  @media (max-width: screen-size(xxl)) {
    --modal-width: 70%;
  }
  @media (max-width: screen-size(lg)) {
    --modal-width: 90%;
  }
  @media (max-width: screen-size(md)) {
    display: none;
    --modal-width: 100%;
  }
  &.active {
    opacity: 1;
    visibility: visible;
    z-index: 99;
    display: flex;
  }
  .modal {
    display: flex;
    align-items: normal;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    background-color: var(--modal-bg-color);
    width: var(--modal-width);
    max-width: var(--modal-max-width);
    min-height: var(--modal-min-height);
    padding: var(--modal-padding);
    border-radius: var(--modal-border-radius);
    opacity: 0;
    overflow-y: auto;
    visibility: hidden;
    box-shadow: var(--modal-shadow);
    backface-visibility: hidden;
    transform: scale(var(--modal-inactive-scale));
    transition: all var(--transition-duration) var(--transition-timing-function);
    @media (max-width: screen-size(md)) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-overflow-scrolling: touch;
      border-radius: 0;
      transform: scale(1.1);
      padding: 0 !important;
    }
    &.active {
      visibility: visible;
      opacity: 1;
      transform: scale(var(--modal-active-scale));
      .modal-content {
        opacity: 1;
      }
      .close-modal {
        transform: var(--close-modal-transform);
        opacity: 1;
      }
    }
    &.payment-modal {
      width: 370px;
      min-height: auto;
      padding: 0;
      border-radius: 10px;
      .modal-content {
        width: 100%;
      }
    }
    .close-modal {
      position: absolute;
      cursor: pointer;
      top: var(--close-modal-position-top);
      right: var(--close-modal-position-right);
      opacity: var(--close-modal-opacity);
      backface-visibility: hidden;
      transition: opacity var(--transition-duration)
          var(--transition-timing-function),
        transform var(--transition-duration) var(--transition-timing-function);
      transition-delay: var(--close-modal-transition-delay);

      @media (max-width: screen-size(md)) {
        --close-modal-position-right: 20px;
      }
      svg {
        width: 1.75em;
        height: 1.75em;
      }
    }
    .modal-content {
      opacity: var(--modal-content-opacity);
      backface-visibility: hidden;
      transition: opacity var(--transition-duration)
        var(--transition-timing-function);
      transition-delay: var(--close-modal-transition-delay);
      
      &.product-detail-modal {
        display: grid;
        grid-template-columns: 49% 49%;
        gap: 10px;
        @media (max-width: screen-size(md)) {
          display: block;
        }
      }

      .product-detail {
        overflow: hidden;
        @media (max-width: screen-size(md)) {
          padding: 1rem;
        }
        .input-field {
          display: flex;
          flex-direction: column;
          gap: 5px;
          margin-top: 35px;
          @media (max-width: screen-size(md)) {
            margin: 0;
          }
          .choice span {
            padding-left: 22px;
            line-height: 28px;
          }
          h2 {
            font-size: 23px;
            font-weight: 500;
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}
