.header {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  gap: 20px;

  .btn {
    --btn-c-h: var(--text);
    --btn-bg-h: var(--body);
    --btn-c-f: var(--text);
    --btn-bg-f: var(--body);
    --btn-p: 0px;
    i {
      font-size: 30px;
      padding: 10px;
      font-weight: normal;
      &.bx-x {
        display: none;
      }
    }
  }

  .search {
    width: 100%;
  }

  .filter-btn {
    .btn {
      img {
        width: 20px;
      }
    }
  }
}
